@* edit Template File *@
@(userForm: Form[controllers.UserController.UserForm], companies: Seq[models.Tables.CompaniesRow])(implicit messages: Messages)

@* テンプレートで利用可能なヘルパーをインポート *@
@* Playが提供する標準ヘルパー（フォームなどを出力する関数）が利用可能 *@
@import helper._

@main("ユーザー作成") {
  @* IDがある場合は更新処理、ない場合は登録処理を呼ぶ *@
  @form(userForm("id").value.map(x => routes.UserController.update).getOrElse(routes.UserController.create), 'class -> "container", 'role -> "form") {
    <fieldeset>
      <div class="form-groupt">
        @inputText(userForm("name"), '_label -> "名前")
      </div>
      <div class="form-group">
        @select(userForm("companyId"), companies.map(x => x.id.toString -> x.name).toSeq, '_label -> "会社", '_default -> "-- 会社名を選択してください --")
      </div>
      <div class="form-groupt">
        @inputText(userForm("email"), '_label -> "メールアドレス")
      </div>
      <div class="form-groupt">
        @inputText(userForm("password"), '_label -> "パスワード")
      </div>
      @* IDがある場合（更新の場合）のみhiddenを出力する *@
      @userForm("id").value.map { value =>
        <input type="hidden" name="id" value="@value" />
      }
      <div>
        <input type="submit" value="保存" class="btn btn-success">
      </div>
    </fieldset>
  }
}
