@* edit Template File *@
@(loginForm: Form[controllers.LoginController.LoginForm], message: Option[String])(implicit messages: Messages)

@* テンプレートで利用可能なヘルパーをインポート *@
@* Playが提供する標準ヘルパー（フォームなどを出力する関数）が利用可能 *@
@import helper._

@* main.scala.htmlを呼び出す *@
@main("ログイン") {
    
<h1>ログイン画面</h1>
<div class="col-xs-6">
<div style="color:red">@message.getOrElse("")</div>
  @form(routes.LoginController.login, 'class -> "container", 'role -> "form") {
  <table class="table table-hover">
    <tbody>
      <tr>
        <td>
          <div class="form-groupt">
            @inputText(loginForm("email"), '_label -> "メールアドレス")
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-groupt">
            @inputPassword(loginForm("password"), '_label -> "パスワード")
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <input type="submit" value="ログイン" class="btn btn-success">
  </div>
  }
</div>

}